#bin
backend/bin

#node modules
backend/Inventory_API/node_modules
backend/Localize_API/node_modules

#private testing
backend/Inventory_API/test.js

#idea
backend/.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*